* {
  box-sizing: border-box;
}

body {
  font-family: TS-Reg;
  font-weight: bold;
  position: relative;
}

.noscroll {
  overflow-y: hidden;
}

a {
  color: black;
}

h1 {
  font-family: TS-Med;
  font-size: 54px;
  font-weight: 500;
  margin-top: 125px;
}

h2 {
  font-family: TS-Med;
  font-size: 28px;
  font-weight: 500;
  margin-bottom: 30px;
}

h3 {
  font-family: TS-Reg;
  font-size: 24px;
  margin: 15px 0px;
}

section {
  margin: 70px 0px;
}

/* ---------------- */

/* --- Container --- */

.container {
  width: 1135px;
  margin: auto;
  padding: 0px 20px;
}

/* ---------------- */

/* ---- Header ---- */
header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: white;
  z-index: 1;
  padding: 20px 0px;
}

header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header img {
  width: 190px;
  object-fit: cover;
}

menu {
  display: flex;
  gap: 20px;
}

.bouton-menu {
  display: flex;
  gap: 10px;
  padding: 10px;
}

.bouton-connexion {
  background-color: black;
  color: white;
  border-radius: 30px;
  text-align: center;
  padding: 10px;
}

.recherche {
  display: none;
}

.container > i {
  display: none;
}

.bouton-connexion:hover {
  background-color: #4c4c4c;
}

.bouton-menu:hover {
  background-color: #f2f2f2;
  border-radius: 30px;
}

/* ------ Main ------ */

h1 span {
  color: #ff5d5d;
}

.baseline {
  color: #333333;
  font-size: 14px;
  font-weight: 200;
}

.baseline a {
  color: #333333;
  text-decoration: underline;
}

nav {
  margin: 30px 0px;
  display: flex;
  justify-content: space-between;
}

.bouton-navigation {
  box-sizing: border-box;
  padding: 12px;
  display: flex;
  justify-content: space-between;
  border: solid black 1px;
  width: 171px;
  height: 63px;
  border-radius: 12px;
  font-weight: bold;
}

.ajout {
  display: none;
}

.bouton-navigation:hover {
  background-color: black;
  color: white;
}

.photos {
  display: flex;
  height: 450px;
  gap: 2px;
}

.photo-principale {
  flex: 4;
}

.photos-secondaires {
  display: flex;
  flex-direction: column;
  flex: 3;
  /* height: 448px; */
  gap: 2px;
}

.photo-secondaire {
  object-fit: cover;
  width: 100%;
  height: 50%;
}

.photos img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.location-nav {
  color: black;
  font-weight: 200;
  font-size: 12px;
  margin: 15px 0px;
  display: flex;
  justify-content: space-between;
}

.location-nav a {
  text-decoration: none;
  margin: 0px 5px;
}

.section1 {
  margin: 40px 0px;
  display: flex;
  justify-content: space-between;
  height: 475px;
  gap: 120px;
}

.histoire {
  flex: 1;
}

.histoire p {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: 400;
  font-size: 20px;
}

.Creer-un-voyage {
  background-color: #ff5d5d;
  border-radius: 20px;
  /* padding: 20px; */
  width: 427px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}

.Creer-un-voyage h2,
.Creer-un-voyage p,
.Creer-un-voyage .bouton-connexion {
  margin: 30px 20px 0 20px;
}

.Creer-un-voyage h2 {
  font-size: 32px;
  line-height: 40px;
}

.Creer-un-voyage p {
  line-height: 20px;
  font-size: 13px;
}

.Creer-un-voyage img {
  width: 100%;
  object-fit: cover;
  max-height: 100%;
  border-radius: 0px 0px 20px 20px;
}

.Creer-un-voyage .bouton-connexion {
  width: 153px;
  height: 54px;
  border-radius: 10px;
  line-height: 20px;
  margin-bottom: 20px;
}

.carte {
  border-radius: 0px 0px 20px 20px;
  height: 40%;
  width: 100%;
}

.description p {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 18px;
  line-height: 20px;
  font-weight: 400;
  margin-bottom: 15px;
}

.bloc-activites {
  display: flex;
  justify-content: space-between;

  gap: 30px;
  margin-bottom: 30px;
}

.description {
  flex: 1;
}

.carroussel {
  width: 790px;
  display: flex;
  gap: 10px;
  overflow: hidden;
  overflow-x: scroll;
  scrollbar-width: thin;
}
.activite {
  height: 285px;
  width: 256px;
  background-color: white;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  margin-bottom: 50px;
}

.activite .image {
  position: relative;
  background-color: aqua;
  height: 65%;
}

.activite .image > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.activite > p {
  font-size: 14px;
  font-family: TS-Reg;
  font-weight: 100;
}

.image > p {
  font-family: TS-Reg;
  font-size: 25px;
  line-height: 16.8px;
}

.coeur {
  position: absolute;
  right: 10px;
  top: 10px;
  background-color: white;
  border-radius: 100%;
  width: 45px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.coeur i {
  font-size: 22px;
}

.logo {
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: 7px;
  left: 10px;
  height: 45px;
  width: 30px;
  background-color: #35e1a1;
  border-radius: 20px 20px 10px 10px;
  align-items: center;
  justify-content: center;
  gap: 5px;
  font-size: x-small;
}

.logo p {
  width: 100%;
  text-align: center;
}

.logo img {
  width: 80%;
}

.notations {
  display: flex;
  height: 23px;
}

.note {
  display: flex;
  color: #35e1a1;
  margin-bottom: 7px;
  gap: 2px;
}
.notations p {
  font-size: 10px;

  height: 15px;
  text-align: center;
  padding: 3px;
}

.guide-activite {
  display: flex;
  justify-content: space-between;
}

/* ----Footer ---- */
footer {
  background-color: #faf1ed;
}

footer .container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 30px;
}

footer .container img {
  width: 45px;
  height: 45px;
}

footer span {
  font-weight: 100;
}

.guide {
  width: 355px;
}

.guide p {
  display: flex;
  align-items: center;
  gap: 5px;
  margin: 5px 0px;
}

.guide p span {
  font-weight: bold;
}

.guide img {
  width: 30px;
  height: 30px;
}
