.avis,
.voyages,
.alertes,
header .bouton-connexion {
  display: none;
}

.recherche {
  display: block;
}

header .container img {
  margin: auto;
  width: 130px;
}

.container > i {
  display: block;
}

nav {
  flex-wrap: nowrap;
  overflow: hidden;
  overflow-x: scroll;
  scrollbar-width: thin;
}

.Creer-un-voyage {
  background-color: #ff5d5d;
  border-radius: 20px;
  /* padding: 20px; */
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  height: auto;
  margin-bottom: 30px;
}

.section1 {
  height: auto;
}

.Creer-un-voyage h2,
.Creer-un-voyage p,
.Creer-un-voyage .bouton-connexion {
  margin: 30px 20px 0 20px;
}

.Creer-un-voyage h2 {
  font-size: 32px;
  line-height: 40px;
}

.Creer-un-voyage p {
  line-height: 20px;
}

.Creer-un-voyage img {
  width: 100%;
  object-fit: cover;
  max-height: 100%;
  border-radius: 0px 0px 20px 20px;
}

.Creer-un-voyage .bouton-connexion {
  width: 153px;
  height: 54px;
  border-radius: 10px;
  line-height: 20px;
  margin-bottom: 20px;
}

.carte {
  border-radius: 0px 0px 20px 20px;
  height: 40%;
  width: 100%;
}
